@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #b6895b;
    --primaryDark: #654b30;
    --bg: #010101;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #ffffff;
}

/* ------------------------------ */
/* --          Navbar          -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task navbar disini... */

/* ------------------------------ */
/* --       Hero Section       -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task hero section disini... */

/* ------------------------------ */
/* --       About Section      -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task about section disini... */

/* ------------------------------ */
/* --      Menu Section     -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task menu section disini... */

/* ------------------------------ */
/* --      Contact Section     -- */
/* ------------------------------ */
.contact {
    padding: 7rem 7% 1.4rem 7%;
}
.contact h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.contact h2 span {
    color: var(--primary);
}
.contact > p {
    text-align: center;
    max-width: 30rem;
    font-weight: 200;
    line-height: 1.6;
    color: #ddd;
    margin: auto;
}
.contact .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    background-color: #1d1d1d;
}
.contact .row > * {
    flex: 1 1;
}
.contact .row .map {
    aspect-ratio: 1;
}
.contact .row form {
    padding: 1rem;
}
.contact .row form .input-group {
    display: flex;
    background: #000;
    border: 1px solid #484848;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.contact .row form .input-group input {
    flex-grow: 1;
    padding: 1rem;
    background: transparent;
}
.contact .row form button {
    padding: 0.8rem;
    background: var(--primary);
    color: rgba(1, 1, 1, 0.8);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: auto;
    display: block;
    cursor: pointer;
    transform: translateX(1px) translateY(1px);
    box-shadow: 3px 3px 0 var(--primaryDark);
    transition: 150ms;
}
.contact .row form button:hover {
    transform: translateX(0) translateY(0);
    box-shadow: 4px 4px 0 var(--primaryDark);
}
.contact .row form button:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: 0px 0px 0 var(--primaryDark);
}

/* tulis semua kode css yang berkaitan dengan task contact section disini... */

/* ------------------------------ */
/* --      Footer Section     --- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task footer section disini... */
footer {
    background-color: var(--primaryDark);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

footer .socials {
    padding: 1rem 0;
}
footer .socials a {
    color: #fff;
    padding: 0.7rem 1rem;
}
footer .socials a:hover {
    color: var(--bg);
}
footer .links {
    margin-bottom: 1.2rem;
}
footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}
footer .links a:hover {
    color: var(--bg);
}
footer .credit {
    font-size: 0.8rem;
}
footer .credit a {
    color: var(--bg);
    font-weight: 700;
}

/* ------------------------------------------------------------------------- */
/* -----                         Media Query                            ---- */
/* ------------------------------------------------------------------------- */

/* ----| desktop | -------------------------------------- */
@media (min-width: 1100px) {
    html {
        font-size: 87%;
    }

    /* tulis semua kode css untuk menangani elemen ketika di layar desktop... */
}

/* ----| tablet | -------------------------------------- */
@media (max-width: 800px) {
    html {
        font-size: 75%;
    }

    /* tulis semua kode css untuk menangani elemen ketika di layar tablet... */
}

/* ----| mobile | -------------------------------------- */
@media (max-width: 450px) {
    html {
        font-size: 75%;
    }

    /* tulis semua kode css untuk menangani elemen ketika di layar mobile... */
}
