@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #b6895b;
    --primaryDark: #654b30;
    --bg: #010101;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #ffffff;
}

/* ------------------------------ */
/* --          Navbar          -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task navbar disini... */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid var(--primaryDark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.navbar .navbar-logo {
    /* flex-grow: 1; */
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-style: italic;
}
.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    font-size: 1rem;
    margin: 0 1rem;
    border-radius: 4px;
    position: relative;
}
.navbar .navbar-nav a:hover {
    color: var(--primary);
}
.navbar .navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, var(--primary), rgb(214, 99, 12));
    transition: all ease-out 150ms;
}
.navbar .navbar-nav a:hover::before {
    width: 100%;
}

.navbar .navbar-extra a {
    color: #fff;
    padding: 0.5rem;
}

.navbar .navbar-extra #hamburger-menu {
    display: none;
}

/* ------------------------------ */
/* --       Hero Section       -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task hero section disini... */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after {
    content: '';
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #000, transparent);
}
.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .content h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 1px 8px #000;
    line-height: 1.2;
}
.hero .content h1 span {
    color: var(--primary);
}
.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 200;
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 1rem;
    box-shadow: 1px 1px 8px var(--primaryDark);
    cursor: pointer;
    transition: transform 80ms ease-in-out;
}
.hero .content .cta:active {
    transform: translateY(2px);
}

/* ------------------------------ */
/* --       About Section      -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task about section disini... */
.about {
    padding: 7rem 7% 1.4rem 7%;
}
.about h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.about h2 span {
    color: var(--primary);
}
.about .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.about .row .about-img {
    flex: 1 1 45rem;
}
.about .row .about-img img {
    width: 100%;
    height: 24rem;
    object-fit: cover;
    object-position: center;
}
.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}
.about .row .content h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.about .row .content p {
    color: #ddd;
    font-weight: 200;
}

/* ------------------------------ */
/* --      Menu Section     -- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task menu section disini... */
.menu {
    padding: 7rem 7% 1.4rem 7%;
}
.menu h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.menu h2 span {
    color: var(--primary);
}
.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 200;
    line-height: 1.6;
    color: #ddd;
}
.menu .row {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.menu .row .menu-card {
    max-width: 18rem;
    text-align: center;
}
.menu .row .menu-card-image {
    border-radius: 100%;
    width: 80%;
}
.menu .row .menu-card-title {
    margin-top: 1.5rem auto;
}
.menu .row .menu-card-price {
    margin-top: 1rem auto;
}

/* ------------------------------ */
/* --      Contact Section     -- */
/* ------------------------------ */
.contact {
    padding: 7rem 7% 1.4rem 7%;
}
.contact h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.contact h2 span {
    color: var(--primary);
}
.contact > p {
    text-align: center;
    max-width: 30rem;
    font-weight: 200;
    line-height: 1.6;
    color: #ddd;
    margin: auto;
}
.contact .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    background-color: #1d1d1d;
}
.contact .row > * {
    flex: 1 1;
}
.contact .row .map {
    aspect-ratio: 1;
}
.contact .row form {
    padding: 1rem;
}
.contact .row form .input-group {
    display: flex;
    background: #000;
    border: 1px solid #484848;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.contact .row form .input-group input {
    flex-grow: 1;
    padding: 1rem;
    background: transparent;
}
.contact .row form button {
    padding: 0.8rem;
    background: var(--primary);
    color: rgba(1, 1, 1, 0.8);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: auto;
    display: block;
    cursor: pointer;
    transform: translateX(1px) translateY(1px);
    box-shadow: 3px 3px 0 var(--primaryDark);
    transition: 150ms;
}
.contact .row form button:hover {
    transform: translateX(0) translateY(0);
    box-shadow: 4px 4px 0 var(--primaryDark);
}
.contact .row form button:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: 0px 0px 0 var(--primaryDark);
}

/* tulis semua kode css yang berkaitan dengan task contact section disini... */

/* ------------------------------ */
/* --      Footer Section     --- */
/* ------------------------------ */

/* tulis semua kode css yang berkaitan dengan task footer section disini... */
footer {
    background-color: var(--primaryDark);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

footer .socials {
    padding: 1rem 0;
}
footer .socials a {
    color: #fff;
    padding: 0.7rem 1rem;
}
footer .socials a:hover {
    color: var(--bg);
}
footer .links {
    margin-bottom: 1.2rem;
}
footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}
footer .links a:hover {
    color: var(--bg);
}
footer .credit {
    font-size: 0.8rem;
}
footer .credit a {
    color: var(--bg);
    font-weight: 700;
}

/* ------------------------------------------------------------------------- */
/* -----                         Media Query                            ---- */
/* ------------------------------------------------------------------------- */

/* ----| desktop | -------------------------------------- */
@media (min-width: 1100px) {
    html {
        font-size: 87%;
    }

    /* tulis semua kode css untuk menangani elemen ketika di layar desktop... */
}

/* ----| tablet | -------------------------------------- */
@media (max-width: 800px) {
    html {
        font-size: 75%;
    }

    /* tulis semua kode css untuk menangani elemen ketika di layar tablet... */
    .about .row {
        flex-wrap: wrap; 
    }
    .navbar .navbar-extra #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: fixed;
        z-index: 50;
        right: -100%;
        background: #240900;
        flex-direction: column;
        display: flex;
        align-items: end;
        text-align: right;
        top: 68px;
        padding: 16px;
        transition: all ease-in-out 100ms;
        opacity: 0;
        bottom: 0;
    }
    .navbar .navbar-nav a {
        padding: 1.25rem 0;
        font-size: 1.5rem;
    }
    .navbar .navbar-nav a::before {
        left: 0px;
        bottom: -4px;
    }
    .navbar .navbar-nav.active {
        opacity: 1;
        right: 0;
    }
}

/* ----| mobile | -------------------------------------- */
@media (max-width: 450px) {
    html {
        font-size: 75%;
    }

    /* tulis semua kode css untuk menangani elemen ketika di layar mobile... */
    .hero {
        min-height: 80vh;
    }
}
